{% extends "root.html" %}

{% block body %}
  <div class="container">
    <ul>
      <li>Email: {{ user.email }}</li>
      <li>Группа: {{ group }}</li>
      <br>

      {% if oauth2_token %}
        <li>OAuth2-токен: {{ oauth2_token }}</li>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="oauth2_refresh_token">Обновить OAuth2-токен</button>
        </form>
      {% else %}
        {% if access %}
          <li>JWT-access_token: {{ access }}</li>
          <li>JWT-refresh_token: {{ refresh }}</li>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="jwt_refresh_token">Обновить JWT-токен</button>
          </form>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="jwt_delete_token">Удалить JWT-токен</button>
          </form>
        {% else %}
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="jwt_obtain_token">Выпустить JWT-токен</button>
          </form>
        {% endif %}
      {% endif %}

    </ul>

  </div>
{% endblock %}