{% extends "root.html" %}

{% block body %}
  <div class="container" style="font-size: large">
    <div>
      Кафедра:
      <a href="{% url 'college:chair_detail' pk=lesson.chair_id %}">
        {{ lesson.chair.title }}
      </a>
    </div>

    <div>
      Тема: {{ lesson.theme }}
    </div>

    <div>
      Домашнее задание:
      {% if lesson.homework %}
        {{ lesson.homework }}
      {% else %}
        Нет
      {% endif %}
    </div>

  <div>
    <a href="{% url 'college:chair_detail' pk=lesson.chair_id %}">Назад</a>
    <a href="{% url 'college:lesson_update' chair_pk=lesson.chair_id lesson_pk=lesson.pk %}">Изменить</a>
    <a href="{% url 'college:lesson_delete' chair_pk=lesson.chair_id lesson_pk=lesson.pk %}">Удалить</a>
  </div>

  </div>
{% endblock %}