{% extends "root.html" %}

{% block body %}
  <div class="container">
    <h4>Расписание занятий: {{ course.title }} курс</h4>
    <table class="table">
      <tr>
        <th>Дата</th>
        <th>Время</th>
        <th>Занятие</th>
        <th>Длительность</th>
        <th>Преподаватель</th>
        <th>Зал</th>
      </tr>
      {% for elem in timetable %}
        <tr>
          <td>{{ elem.date.isoformat }}</td>
          <td>{{ elem.time }}</td>
          <td>{{ elem.lesson }}</td>
          <td>{{ elem.duration }}</td>
          <td>{{ elem.teacher }}</td>
          <td>{{ elem.auditorium }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}